body.active-modal{
    overflow:hidden;
}

.modal{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed; 
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
}

.overlay{
    background: rgba(49,49,49,0.8);
}

.modal-content{
    position: relative;
    background: #d8e0e8;
    padding: 2rem; 
    border-radius: 0.5rem; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    max-width: 600px;
    min-width: 300px;
    min-height: 300px;
    max-height: 80vh;
    width: 90%;
    font-family: sans-serif; 
    overflow-y: auto;
    z-index: 1001;
}

.close-modal{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    color: black;
}

.modal-tabs {
    display: flex;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}

.modal-tabs button {
    flex: 1;
    padding: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s, border-bottom 0.2s;
    color: #accaeb;
    font-size: 1rem;
}

.modal-tabs button:hover{
    color: #8ab8e9;
}

.modal-tabs button.active {
    color: #007bff;
    border-bottom: 2px solid #007bff;
}

.custom-col-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
  
.custom-col-form label {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color: #333;
}
  
.custom-col-form input {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}
  
.custom-col-form button {
  align-self: flex-end;
  padding: 0.5rem 1rem;
  background: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
  
.custom-col-form button:hover {
  background: #0056b3;
}
  
.hidden-cols-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
  
.hidden-cols-list div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.hidden-cols-list button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
}
  
.hidden-cols-list button:hover {
  text-decoration: underline;
}

.create-report-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.create-report-form label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: #003366;
}

.create-report-form input,
.create-report-form .react-datepicker__input-container input,
.create-report-form .css-yk16xz-control { 
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.submit-report-btn {
  align-self: flex-end;
  background: #003366;
  color: #fff;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.submit-report-btn:hover {
  background: #002244;
}
