
.home-container{
    background-size: cover;
    /*background-color: lightblue;*/
    text-align: center;
}
.header2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-top: auto;
    margin: auto;
    /*background-color: lightblue;*/
    text-align: center;
}

.logo2{

    font-size: 100px;
    font-weight: bold;
    /*background-color: lightblue;*/
    text-align: center;
    margin: 100px;
}

.buttons{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.active{
    display: flex;
    margin: 10px auto;
    justify-content: center;
    font-size: 35px;
    color: lightgray;

}

.button{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: 1px solid black; 
    font-family: sans-serif;
}

.home-list{
    background-color: black;
    display: fixed;
}

 .toggle-icon{
    width:50px;
    cursor: pointer; 
    margin-left: 40px;
    font-size: large;
} 
