.nav-container{
    background: white;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    border: 1px solid black;
}

.logo{
    display: flex;
    font-size: xxx-large;
    font-weight: bolder;
    text-align: left;

}

.ul{
    flex: 1;
    list-style: none;
    text-align: center;
}

button{

  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-family: sans-serif;
  font-weight: bold;
  font-size: x-large;
  background-color: transparenT;
  color: #1e1e1e;
  cursor: pointer;
  transition: border-color 0.25s; 
  text-align: left;
}

button:hover{
    background-color: #a0a0a0;
}
button:focus,
button:focus-visible{
    outline:4px auto -webkit-focus-ring-color;
}

.sign-in{
    background-color: #a0a0a0;
    border-color: #2c2c2c;
}

.register{
    border-color: #2c2c2c;
    background-color: #1e1e1e;
    color: white;
}
