*{
    margin:0;
    padding: 0;
    display: fixed;
    box-sizing: border-box;
}

.profile-container{
    display: flex;
    flex-direction: column; 
    height: 100vh;
}

.navbar{
    background-color: #333;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    flex-shrink: 0;
}

.main-layout{
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    height: 100%;
}

.profile-content{
    flex: 1; 
    padding: 20px; 

    
    color: black;
}
.profile-header{
    /* background: lightgray;
    align-content: center;
    width: justify;
    display: flex;
    justify-content: space-between; 
    flex-direction: column;
    float: center;
    padding-bottom: 600px;
    border: 1px solid gray; */ 
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
    flex-direction: column;
    font-family: sans-serif;
   
    color: black;
} 

.header-left{
    display: flex;
    align-items: left;
   
}

.savedreports-header{
    font-size: 36px;
    font-weight: bold;
    margin-right: 50px;
    padding-top: 10px;
 
}

/* .saved-reports{
    height: 1.7em;
    font-size: 2.0em;
} */

.create-report{
    padding: 15px 20px;
    font-size: 20px;
    font-family: sans-serif;
    /*border: 1px solid black;*/
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
   
    cursor: pointer;
} 

.create-report:hover{
    background-color: grey;
}

.report-list{
   /*  text-align: left;
    border: 1px solid grey;
    padding-block: 5px;
    margin-top: 10px;
    color: black;
    border-radius: 5px;
    cursor: pointer; */
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(212, 199, 180);
}

.report-list:hover{
    background-color: grey;
}

.reports-list{
    font-family: sans-serif;
    font-size: medium;
    margin: 9px;
}

@media screen and (max-width: 760px){
    .main-layout{
        flex-direction: column;
    }

    .sidebar{
        width: 100%;
        position: relative;
        margin-bottom: 20px;
    }

    .profile-content{
        margin-left: 0;
    }

    .profile-header{
        flex-direction: column;
        align-items: flex-start;
    }

    .create-report{
        width: 100%;
        margin-top: 10px;
    }

     .report-list{
        width: 100%;
        margin-top: 10px;
    } 
}

@media screen and (max-width: 480px){
    .report-list{
        font-size: 14px;
    }
}

.report-row {
    transition: background-color 0.3s;
    background-color: #f9fcfc;
  }
  
  .report-row:hover {
    background-color: #f2f2f2;
  }
  
  .report-row.starred {
    border-color: gold;
    background-color: gold;
  }

.trash-btn svg { color: black; }     
.trash-btn:hover svg { color: #f33; }
  