.settings-container{
    background-color: grey; 
}

.welcome-header{
    font-family: sans-serif;
    color: black;
}

.account-settings{
    color: black;
}

.set-tabs button{
    color: black;
    display: flex;
    border-radius: 50px;
}

.set-tabs button.active { 
    font-weight:600; 
    background-color: hsl(199, 100%, 75%); 
    color: black;
}
.set-form  label { 
    display:flex; 
    flex-direction:column; 
    margin-bottom:.75rem; 
    color: black;
}
.set-form  input { 
    padding:.4rem; 
    border:1px solid #ccc; 
    border-radius:4px; 
    color: black;
}

.save-settings{
    background-color: black;
    color: white; 
    border-radius: 50px;
}

.danger { 
    background:#b00020; 
    color:#fff; 
    padding:.5rem 1rem; 
    border:none; 
}


