.sidebar-background{
    width: fixed;
    height: 100vh;
    background-color: cornflowerblue;
}

.sidebar{
    width: auto;
    background-color: cornflowerblue;
    padding: 15px;
    flex-shrink: 0;
    position: flex ;
    height: 100%;
    border: 1px solid grey;
}

.sidebar-list{
    background-color: cornflowerblue;
    margin-top: 15px;
}

.sidebar-button{
    background-color: cornflowerblue;
    color: black;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: larger;
    padding: auto;
}

.profile{
    font-family: sans-serif;
    background-color: cornflowerblue;
    color: black;
    margin-top: 13px;
    font-size: 36px;
}

.setting-icon{
    width: 30px;
    cursor: pointer; 
    font-size:small;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    align-content: center;
}

.create-icon{
    width: 20px;
    cursor: pointer; 
    font-size:small;
    margin-right: 5px;
    align-content: center;
    background-color: white;
    
}

li{
    background-color: cornflowerblue;
    color: black;
    display: flex;
    flex-direction: row;
    text-align: center;
}




 









