.sidebar-background{
    background-color: transparent;
    width: flex;
    height: 100vh;
}

.sidebar{
    margin-top: 0px;
    width: 0px;
    background-color: white; 
    float:left;
    padding-bottom: 190px;
    font-family: sans-serif;

}

.profile{
    font-family: sans-serif;
}




 









